body {
	font-family: gb,sans-serif;
}
div.mpdf_toc {
	font-family: gb,sans-serif;
}
pre,code,samp,kbd {
	font-family: Consolas,"Andale Mono WT","Andale Mono",gb,"Nimbus Mono L",Monaco,"Courier New",monospace;
}
